# Custom Tetris Environment

In [1]:
import random
from time import sleep 
from engine import TetrisEngine
import pandas as pd

In [2]:
env = TetrisEngine()

In [3]:
# Variable to indicate whether the game has ended or not
done = False

# Resets the environment
state = env.reset()

# initialse values
total_score = 0
deaths = 0
nr_lines_cleared = 0
df_info = pd.DataFrame()


# Loop that keeps making moves as long as the game hasn't ended yet
for i in range(110):
    # Picks a random action
    action = random.randint(0,5)

    # Performs the action in the game engine
    next_state, reward, done, info = env.step(action)
    
    # logging
    total_score+=reward
    df_info = df_info.append(info, ignore_index=True)

    #print(done)
    #print(round(total_score, 2))
    
    # Render the game state
    env.render()
    # Sleep to make sure a human can follow the gameplay (if you're not rendering, this isn't neccessary of course)
    sleep(0.05)

In [4]:
state.shape

(16, 6)

In [5]:
info

{'score': -0.2,
 'number_of_lines': 0,
 'new_block': False,
 'height_difference': 0,
 'new_episode': False,
 'boundries': [0, 0, 0, 2, 2, 0],
 'num_of_holes': [0, 0, 0, 0, 0, 0]}

In [6]:
env.results()

,nr_episode,heigt_diff_sum,new_block_sum,nr_lines_sum,score_sum,score_avg,count_steps
0,0.0,-14.0,12.0,92.0,116.8,1.692754,69
1,1.0,-14.0,8.0,0.0,3.6,0.109091,33
2,2.0,-2.0,1.0,0.0,-1.6,-0.200000,8

In [7]:
df_info["new_episode_cum"] = df_info["new_episode"].cumsum()

df_results = df_info.groupby('new_episode_cum', as_index=False).agg(heigt_diff_sum=('height_difference','sum'), 
                                                     new_block_sum=('new_block','sum'),
                                                     nr_lines_sum=('number_of_lines','sum'),
                                                     score_sum=('score','sum'),
                                                     score_avg=('score','mean'),
                                                     count_steps=('new_episode_cum','count'))
print (df_results)

   new_episode_cum  heigt_diff_sum  new_block_sum  nr_lines_sum  score_sum  \
0              0.0           -14.0           12.0          92.0      116.8
1              1.0           -14.0            8.0           0.0        3.6
2              2.0            -2.0            1.0           0.0       -1.6

   score_avg  count_steps
0   1.692754           69
1   0.109091           33
2  -0.200000            8

In [8]:
df_info

,boundries,height_difference,new_block,new_episode,num_of_holes,number_of_lines,score,new_episode_cum
0,"[0, 0, 0, 0, 0, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,0.0
1,"[0, 0, 0, 0, 0, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,0.0
2,"[0, 0, 0, 0, 0, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,0.0
3,"[0, 0, 0, 0, 0, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,0.0
4,"[0, 0, 0, 0, 0, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,0.0
...,...,...,...,...,...,...,...,...
105,"[0, 0, 0, 2, 2, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,2.0
106,"[0, 0, 0, 2, 2, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,2.0
107,"[0, 0, 0, 2, 2, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,2.0
108,"[0, 0, 0, 2, 2, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,2.0
109,"[0, 0, 0, 2, 2, 0]",0.0,0.0,0.0,"[0, 0, 0, 0, 0, 0]",0.0,-0.2,2.0

In [9]:
print(info)

{'score': -0.2, 'number_of_lines': 0, 'new_block': False, 'height_difference': 0, 'new_episode': False, 'boundries': [0, 0, 0, 2, 2, 0], 'num_of_holes': [0, 0, 0, 0, 0, 0]}

In [10]:
done

False

In [11]:
info

{'score': -0.2,
 'number_of_lines': 0,
 'new_block': False,
 'height_difference': 0,
 'new_episode': False,
 'boundries': [0, 0, 0, 2, 2, 0],
 'num_of_holes': [0, 0, 0, 0, 0, 0]}

In [12]:
total_score

118.79999999999976

# Load and save model

In [13]:
from keras.models import load_model

In [14]:
model_name_ = "model_1.model"
model = load_model(f'models/{model_name_}')

OSError: SavedModel file does not exist at: models/model_1.model/{saved_model.pbtxt|saved_model.pb}

# Graphs

In [17]:
df_results = env.results()
df_results

,nr_episode,heigt_diff_sum,new_block_sum,nr_lines_sum,score_sum,score_avg,count_steps
0,0.0,-14.0,12.0,92.0,116.8,1.692754,69
1,1.0,-14.0,8.0,0.0,3.6,0.109091,33
2,2.0,-2.0,1.0,0.0,-1.6,-0.200000,8